/Binaries/
/DerivedDataCache/
/Intermediate/
/Saved/
/.vscode/
/.vs/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcodeproj
*.xcworkspace
/Platforms/HoloLens/Config/
/Plugins/Developer/
/Plugins/ProceduralMapGeneration/Binaries/
/Plugins/ProceduralMapGeneration/Intermediate/

